<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RootReappname03" stopProcessing="true">
                    <match url="^$" />
                    <action type="Reappname03" url="/welcome/" reappname03Type="Found" />
                </rule>
				<rule name="LoginReappname03" stopProcessing="true">
                    <match url="^login(/)?$" />
                    <action type="Reappname03" url="https://auth.mycompany.com/login/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
